body{
    background: #D95D39;
    font-family: 'Merriweather', serif;
    color: #eaeaea;
    align-content: center;
}

h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 42pt;
    color: #F18805;
    margin: 5pt;
}
h4{
    font-family: 'Abril Fatface', cursive;
    font-size: 24pt;
    color: #F0A202;
    margin: 0pt;
}
div{
    background-color: #000505;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    align-items: center;
    width: 80%;
    align-self: center;

}
